{
  "plugins": [
    ["transform-class-properties", { "spec": true }],
    ["transform-object-rest-spread"],
    ["transform-runtime"]
  ],
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react",
    "stage-0"
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    },
    "test": {
      "presets": ["env", "react", "stage-0"]
    }
  }
}
